:root{
    --background: #2E3440;
    --light: #ECEFF4;
    --accent: #D08770;
    --blue-accent: #81A1C1;
    --green-accent: #8FBCBB;
    --pink-accent:#B48EAD;
    --red-accent:#BF616A;
    --text-color: #D8DEE9;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,700&display=swap');

/* GENERICS */

*{
    padding: 0;
    margin: 0;
    color: var(--light);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--blue-accent);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
}

body{
    background-color: var(--background);
    font-family: 'JetBrains Mono', monospace;
}

.btn-link{
    text-decoration: none;
    font-weight: bold;
    border: 2px solid var(--light);
    border-radius: 10px;
    background-color: var(--blue-accent);
    color: var(--background);
    padding: 15px;
    margin-top: 20px;
}

.btn-link:hover{
    color: var(--light);
    border: 2px solid var(--accent);
    background-color: var(--background);
    box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.3);
    transition: 500ms;
}

a{
    text-decoration: none;
    color: var(--blue-accent);
    font-weight: bold;
}

a:hover{
    color: var(--accent);
    transition: 500ms;
}

b{
    color: var(--blue-accent);
    font-size: larger;
}

.section-devider{
    height: 60vh;
}

.load-line{
    width: 0%;
    animation: lineDraw ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* MENU ELEMENTS */

.top-header{
    width: 100%;
    height: 60px;
    transition: all 1s;
    position: fixed;
    /* box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2); */
}

.top-header ul{
    margin-right: 2vw;
    white-space: nowrap;
}

.top-header ul > li{
    margin-top: 20px;
    padding-left: 5px;
    display: inline-block;
    animation: waveOut linear 3s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

.left-sticky{
    margin-top: 100vh;
    animation: leftSticky ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
    width: 20px;
    position: fixed;
}

.left-sticky li{
    margin-top: 15px;
    margin-left: 10px;
}

#left-sticky-end::after{
    margin-left: 5px;
    content: "";
    display: block;
    width: 1px;
    height: 100vh;
    background-color: var(--text-color);
}
#hide-when-scrolled{
    opacity: 0;
}

.intro-section{
    opacity: 0;
    padding-top: 20vh;
    width: 40%;
    margin-right:auto;
    margin-left:auto;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#intro-icon{
    opacity: 0;
    margin-top: 30px;
    font-size: 4rem;
    transition: all 1s;
}

.center-wrapper{
    display: grid;
    place-items: center;
}

.center-element{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.pop-in{
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
}

/* MODAL */

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.3);
}
.modal-content {
    color: var(--background);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--light);
    border-radius: 10px;
    width: 80%; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* INDIVIDUAL SECTION */

#intro-header{
    text-align: center;
}
#intro-content{
    opacity: 0;
    text-align: left;
    color: var(--text-color);
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#intro-content ul{
    list-style-type: circle;
    font-size: smaller;
    padding-left: 50px;
}
#intro-link{
    text-align: right;
}
#intro-toolbox-btn{
    opacity: 0;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#about{
    width: 60%;
}
#about-content{
    padding-left: 30px;
}

#toolbox-tool-list{
    list-style: none;
}
.toolbox-grid-buttons{
    padding-bottom: 40px;
}
#toolbox-tool-list ul > li{
    list-style: none;
    display: inline-block;
}

.project p,.project h3{
    color: var(--background);
}

.project-tools-list{
    list-style: none;
    font-style: italic;
}

.project-tools-list li{
    color: var(--background);
}
#nog-wat-app, #solento{
    padding: 20px;
    width:20vw;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--blue-accent);
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
}
#quiz-app{
    padding: 20px;
    width:40vw;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--blue-accent);
    margin-top: 30px;
    margin-left: 0px;
    text-align: center;
}


/* animations */
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeInOut {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes lineDraw {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes leftSticky{
    0%{
        margin-top: 100vh;
    }
    100%{
        margin-top: 65vh;
    }
}

@keyframes waveOut{
    0%{
        margin-left: 100vw;
    }
    100%{
        margin-left: 0vw;
    }
}

@media(prefers-reduced-motion) {
    .center-section{
        transition: none;
    }
}